
.border-1px:after {
  content: ' ';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border: 1px solid rgba(7, 17, 27, 0.1);
}
@media (-webkit-min-device-pixel-ratio: 2){
  .border-1px:after {
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
   }
}
